* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0084FD;
}

.user-options {
    width: 100%;
}

.row {
    display: flex;
}

.col-50 {
    width: 100%;
}

.col-33 {
    width: 100%;
}

.col-66 {
    width: 100%
}


.right {
    text-align: end;
}

.container {
    width: 100%;
}

.al-center {
    display: flex;
    align-items: center;
}

.right {
    justify-content: right;
}

.ft-white {
    color: #fff;
}

.flx-column {
    flex-direction: column;
}

.pd-10 {
    padding: 10px;
}

.app .content {
    margin: 10px;
}



.card {
    padding: 20px;
    background-color: #B5DDFF;
    border-radius: 10px;
}

.center-container {
    width: 100%;
    margin: 0 auto;
}