* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0084FD;
}

footer {
    background-color: #333333;
}

/*Layout classes */

.row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    width: 100%;
}

.col-card {
    width: 100%;
}

.col-card img {
    width: 100%;
}

.wrap-section {
    width: 100%;
    background-color: #9792E4;
}

.card {
    text-align: center;
    border-radius: 20px;
}

.col-card p {
    text-align: start;
}

.menu-desktop {
    display: none;
}

.menu-desktop ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.icon-app {
    font-size: 100px;
}


/* Style classes */
.ft-white {
    color: #fff;
}

.ft-blue {
    color: #0084FD;
}

.bg-lighblue {
    background-color: #B5DDFF;
}

.bg-white {
    background-color: #fff;
}

.bg-violet {
    background-color: #9792E4;
}

.menu-desktop ul li {
    padding: 20px;
    align-items: center;
}


.card-br {
    padding: 20px;
    border-radius: 30px;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.btn-store {
    background-color: #0084FD;
    width: 80%;
    margin: 10px auto;
}

.content-card {
    padding: 20px;
}

.content-card p {
    padding: 20px 30px;
}


/* Utilities */
.mg-20 {
    margin: 20px;
}



.pd-tb-10 {
    padding: 10px 0;
}



/* Media Query */
@media screen and (min-width: 810px) {

    .app .row,
    .benefits-work .row,
    .about-us .row {
        display: flex;
        flex-wrap: wrap;
    }


    .col-33 {
        width: calc((100% - 10px) / 3);
    }


    .col-66 {
        width: calc((100% / 3) * 2);
        height: 100%;
    }


    .col-17 {
        width: calc((100% - 10px) / 2);
    }
}

@media screen and (min-width: 1920px) {
    .strategic-plan .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-17 {
        width: calc((100% - 10px) / 2);
    }

    .col-50 {
        width: 50%;
    }

    .menu,
    .app,
    .strategic-plan,
    .testimonials,
    .benefits-work,
    .about-us,
    .get-start,
    .link-utili {
        max-width: 1200px;
        margin: 0 auto;
    }

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }

    .content-card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .col-card {
        width: 50%;
    }

    .txt-left {
        text-align: left;
    }
}