* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0084FD;
}

footer {
    background-color: #333333;
}

/*Layout classes */

.row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    width: 100%;
}

.wrap-section {
    width: 100%;
    background-color: #9792E4;
}


.menu-desktop {
    display: none;
}

.menu-desktop ul {
    list-style: none;
    display: flex;
}



/* Style classes */


/* Utilities */
.mg-20 {
    margin: 20px;
}

.ft-white {
    color: #fff;
}

.card {
    padding: 20px;
    border-radius: 20px;
}

.bg-lighblue {
    background-color: #B5DDFF;
}

.pd-tb-10 {
    padding: 10px 0;
}

.card-br {
    padding: 20px;
    border-radius: 30px;
}

.bg-white {
    background-color: #fff;
}

.bg-violet {
    background-color: #9792E4;
}

/* Media Query */
@media screen and (min-width: 810px) {

    .app,
    .benefits-work,
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-33 {
        width: calc((100% - 10px) / 3);
    }

    .col-66 {
        width: calc((100% / 3) * 2);
    }


    .col-50 {
        width: calc((100% - 10px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .strategic-pan .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-50 {
        width: calc((100% - 10px) / 2);
    }

    .menu,
    .app,
    .strategic-plan,
    .testimonials,
    .benefits-work,
    .about-us,
    .get-start,
    .link-utili {
        max-width: 1200px;
        margin: 0 auto;
    }

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }
}